<html>
        <head>
    <title>Recommended Movies</title>
    <style>
     table{
    border-collapse: collapse;
    border:3px solid red;}
th{
    border:3px solid red;
    text-align:center;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    background-color:white;
    opacity:0.9;}
td{
    border:3px solid red;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white;
    opacity:0.9;}
    </style>
    </head>
    <body background="https://i.insider.com/5f578371e6ff30001d4e76be?width=1136&format=jpeg">
    <table border='1'>
    <tr><th>Title</th><th>Poster</th></tr>
    <tr><td>Prisoners<br>2013</td><td><img src=https://m.media-amazon.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@._V1_SX300.jpg></td></tr>
    <tr><td>Heat<br>1995</td><td><img src=https://m.media-amazon.com/images/M/MV5BNGMwNzUwNjYtZWM5NS00YzMyLWI4NjAtNjM0ZDBiMzE1YWExXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg></td></tr>
    <tr><td>Fargo<br>1996</td><td><img src=https://m.media-amazon.com/images/M/MV5BNDJiZDgyZjctYmRjMS00ZjdkLTkwMTEtNGU1NDg3NDQ0Yzk1XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg></td></tr>
    <tr><td>Stand by Me<br>1986</td><td><img src=https://m.media-amazon.com/images/M/MV5BODJmY2Y2OGQtMDg2My00N2Q3LWJmZTUtYTc2ODBjZDVlNDlhXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg></td></tr>
    <tr><td>Witness for the Prosecution<br>1957</td><td><img src=https://m.media-amazon.com/images/M/MV5BNDQwODU5OWYtNDcyNi00MDQ1LThiOGMtZDkwNWJiM2Y3MDg0XkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_SX300.jpg></td></tr>
    <tr><td>American Beauty<br>1999</td><td><img src=https://m.media-amazon.com/images/M/MV5BNTBmZWJkNjctNDhiNC00MGE2LWEwOTctZTk5OGVhMWMyNmVhXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg></td></tr>
    <tr><td>Paths of Glory<br>1957</td><td><img src=https://m.media-amazon.com/images/M/MV5BNjViMmRkOTEtM2ViOS00ODg0LWJhYWEtNTBlOGQxNDczOGY3XkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_SX300.jpg></td></tr>
    <tr><td>Touch of Evil<br>1958</td><td><img src=https://m.media-amazon.com/images/M/MV5BOTA1MjA3M2EtMmJjZS00OWViLTkwMTEtM2E5ZDk0NTAyNGJiXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg></td></tr>
    <tr><td>On the Waterfront<br>1954</td><td><img src=https://m.media-amazon.com/images/M/MV5BY2I0MWFiZDMtNWQyYy00Njk5LTk3MDktZjZjNTNmZmVkYjkxXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg></td></tr>
    <tr><td>The Departed<br>2006</td><td><img src=https://m.media-amazon.com/images/M/MV5BMTI1MTY2OTIxNV5BMl5BanBnXkFtZTYwNjQ4NjY3._V1_SX300.jpg></td></tr>
    </table>
    </body>
    </html>>
   